In [2]:
import pandas as pd

df = pd.read_csv("observations-407.csv", low_memory=False)

# Define columns to be dropped
delete_cols = [
    "id",
    "observed_on_string",
    "observed_on",
    "time_zone",
    "user_id",
    "user_login",
    "user_name",
    "created_at",
    "updated_at",
    "geoprivacy",
    "taxon_geoprivacy",
    "coordinates_obscured",
    "positioning_method",
    "positioning_device",
    "time_observed_at",
    "user_id",
    "user_login",
    "user_name",
    "created_at",
    "updated_at",
    "geoprivacy",
    "taxon_geoprivacy",
    "coordinates_obscured",
    "positioning_method",
    "positioning_device",
    "captive_cultivated",
    "positional_accuracy",
    "private_place_guess",
    "private_latitude",
    "private_longitude",
    "public_positional_accuracy",
    "sound_url",
    "oauth_application_id",
]

df.drop(columns=delete_cols, inplace=True)

df.head()

,quality_grade,license,url,image_url,tag_list,description,num_identification_agreements,num_identification_disagreements,place_guess,latitude,longitude,species_guess,scientific_name,common_name,iconic_taxon_name,taxon_id
0,research,CC-BY-NC,https://minka-sdg.org/observations/349,https://minka-sdg.org/attachments/local_photos...,NaN,NaN,1,0,Spain,41.373576,2.191730,Spirobranchus triqueter,Spirobranchus triqueter,NaN,Annelida,251212
1,research,CC-BY-NC,https://minka-sdg.org/observations/354,https://minka-sdg.org/attachments/local_photos...,NaN,NaN,1,0,Spain,42.114682,3.167610,Nereididae,Nereididae,NaN,Annelida,1679
2,research,CC-BY-NC,https://minka-sdg.org/observations/356,https://minka-sdg.org/attachments/local_photos...,NaN,NaN,1,0,NaN,41.786561,3.045988,Protula intestinum,Protula intestinum,NaN,Annelida,244092
3,research,CC-BY-NC,https://minka-sdg.org/observations/359,https://minka-sdg.org/attachments/local_photos...,NaN,NaN,1,0,Spain,41.373576,2.191730,Actinia striata,Actinia striata,NaN,Cnidaria,253919
4,research,CC-BY-NC,https://minka-sdg.org/observations/361,https://minka-sdg.org/attachments/local_photos...,NaN,NaN,1,0,Spain,41.409211,2.227426,Branchiomma luctuosum,Branchiomma luctuosum,NaN,Annelida,34800

In [3]:
fishes_list = [
    "Aglaophenia",
    "Aplysina aerophoba",
    "Chondrosia reniformis",
    "Cliona celata",
    "Coscinasterias tenuispina",
    "Crambe crambe",
    "Didemnum sp",
    "Dysidea_fragilis",
    "Eudendrium",
    "Ircinia variabilis",
    "Pecten jacobaeus",
    "Reptadeonella violacea",
    "Schizobrachiella sanguinea",
    "Arbacia lixula",
    "Caloria quatrefagesi",
    "Conger conger",
    "Cratena peregrina",
    "Flabellina affinis",
    "Gobius cruentatus",
    "Hexaplex trunculus",
    "Nemesignis banyulensis",
    "Parablennius gattorugine",
    "Parablennius pilicornis",
    "Parablennius tentacularis",
    "Polycera quadrilineata",
    "Serranus cabrilla",
    "Stenopus spinosus",
    "Stramonita haemastoma"
]

In [4]:
import pandas as pd

# Assuming df is already loaded and processed as shown in your code snippet

# Define the fish list
fishes_list = [
    "Aglaophenia",
    "Aplysina aerophoba",
    "Chondrosia reniformis",
    "Cliona celata",
    "Coscinasterias tenuispina",
    "Crambe crambe",
    "Didemnum sp",
    "Dysidea_fragilis",
    "Eudendrium",
    "Ircinia variabilis",
    "Pecten jacobaeus",
    "Reptadeonella violacea",
    "Schizobrachiella sanguinea",
    "Arbacia lixula",
    "Caloria quatrefagesi",
    "Conger conger",
    "Cratena peregrina",
    "Flabellina affinis",
    "Gobius cruentatus",
    "Hexaplex trunculus",
    "Nemesignis banyulensis",
    "Parablennius gattorugine",
    "Parablennius pilicornis",
    "Parablennius tentacularis",
    "Polycera quadrilineata",
    "Serranus cabrilla",
    "Stenopus spinosus",
    "Stramonita haemastoma",
]

# Create lowercase versions of the fish names and their variations
fish_variants = []
for fish in fishes_list:
    # Original name
    fish_variants.append(fish.lower())
    # Replace spaces with underscores
    fish_variants.append(fish.lower().replace(" ", "_"))
    # Replace underscores with spaces
    fish_variants.append(fish.lower().replace("_", " "))


# Function to check if a row contains any fish name in the specified columns
def contains_fish(row, columns):
    for col in columns:
        if pd.isna(row[col]) or row[col] == "":
            continue

        value = str(row[col]).lower()
        for fish in fish_variants:
            if fish in value:
                return True
    return False


# Function to identify which fish is in a row
def identify_fish(row, columns):
    found_fish = []
    for col in columns:
        if pd.isna(row[col]) or row[col] == "":
            continue

        value = str(row[col]).lower()
        for fish in fishes_list:
            fish_lower = fish.lower()
            # Check original, with spaces, and with underscores
            if (
                fish_lower in value
                or fish_lower.replace(" ", "_") in value
                or fish_lower.replace("_", " ") in value
            ):
                if fish not in found_fish:
                    found_fish.append(fish)

    return ", ".join(found_fish) if found_fish else "Unknown"


# Columns to check for fish names
check_columns = ["species_guess", "scientific_name", "common_name"]

# Filter dataframe for rows containing fish names
# First make sure all the columns exist in the dataframe
valid_columns = [col for col in check_columns if col in df.columns]

# Create a filtered dataframe with rows containing fish names
fish_df = df[df.apply(lambda row: contains_fish(row, valid_columns), axis=1)].copy()

# Add a column identifying which fish from the list was found
fish_df["matched_fish"] = fish_df.apply(
    lambda row: identify_fish(row, valid_columns), axis=1
)

# Count occurrences of each fish
fish_counts = {}
for fish in fishes_list:
    fish_lower = fish.lower()
    count = 0

    for _, row in fish_df.iterrows():
        for col in valid_columns:
            if pd.notna(row[col]) and (
                fish_lower in str(row[col]).lower()
                or fish_lower.replace(" ", "_") in str(row[col]).lower()
                or fish_lower.replace("_", " ") in str(row[col]).lower()
            ):
                count += 1
                break  # Count each row only once per fish

    if count > 0:
        fish_counts[fish] = count

# Display summary information
print(f"Found {len(fish_df)} observations containing fish from the list\n")

print("Fish species found and their occurrence counts:")
for fish, count in sorted(fish_counts.items(), key=lambda x: x[1], reverse=True):
    print(f"{fish}: {count} observations")

# Display the entire filtered dataframe
print("\nFiltered dataframe containing all fish observations:")
print(fish_df)

# Optional: Save to a single CSV file if needed
# fish_df.to_csv("all_fish_observations.csv", index=False)
# print("\nSaved all observations to 'all_fish_observations.csv'")

Found 11353 observations containing fish from the list

Fish species found and their occurrence counts:
Parablennius pilicornis: 4621 observations
Serranus cabrilla: 2665 observations
Parablennius gattorugine: 1428 observations
Gobius cruentatus: 818 observations
Aglaophenia: 494 observations
Eudendrium: 401 observations
Conger conger: 296 observations
Schizobrachiella sanguinea: 292 observations
Parablennius tentacularis: 201 observations
Reptadeonella violacea: 137 observations

Filtered dataframe containing all fish observations:
       quality_grade   license                                        url  \
6           research  CC-BY-NC     https://minka-sdg.org/observations/371
9           research  CC-BY-NC     https://minka-sdg.org/observations/376
29          research  CC-BY-NC     https://minka-sdg.org/observations/433
57          research  CC-BY-NC     https://minka-sdg.org/observations/507
82          research  CC-BY-NC     https://minka-sdg.org/observations/549
...              ...       ...                                        ...
152713      research     CC-BY  https://minka-sdg.org/observations/428031
152715      research  CC-BY-NC  https://minka-sdg.org/observations/428105
152717      research  CC-BY-NC  https://minka-sdg.org/observations/428114
152782      research  CC-BY-NC  https://minka-sdg.org/observations/428593
152792      research  CC-BY-NC  https://minka-sdg.org/observations/428604

                                                image_url tag_list  \
6       https://minka-sdg.org/attachments/local_photos...      NaN
9       https://minka-sdg.org/attachments/local_photos...      NaN
29      https://minka-sdg.org/attachments/local_photos...      NaN
57      https://minka-sdg.org/attachments/local_photos...      NaN
82      https://minka-sdg.org/attachments/local_photos...      NaN
...                                                   ...      ...
152713  https://minka-sdg.org/attachments/local_photos...      NaN
152715  https://minka-sdg.org/attachments/local_photos...      NaN
152717  https://minka-sdg.org/attachments/local_photos...      NaN
152782  https://minka-sdg.org/attachments/local_photos...      NaN
152792  https://minka-sdg.org/attachments/local_photos...      NaN

       description  num_identification_agreements  \
6              NaN                              1
9              NaN                              1
29             NaN                              1
57             NaN                              1
82             NaN                              1
...            ...                            ...
152713         NaN                              1
152715         NaN                              1
152717         NaN                              1
152782         NaN                              1
152792         NaN                              1

        num_identification_disagreements             place_guess   latitude  \
6                                      0                   Spain  41.970737
9                                      0                   Spain  41.846316
29                                     0                     NaN  41.703166
57                                     0                   Spain  41.846316
82                                     0                   Spain  41.847420
...                                  ...                     ...        ...
152713                                 0       Barcelona, España  41.267453
152715                                 0  El Turo Negre - Mataró  41.520687
152717                                 0  El Turo Negre - Mataró  41.520687
152782                                 0                  Boreas  41.843202
152792                                 0                  Boreas  41.843202

        longitude              species_guess            scientific_name  \
6        3.227241    Parablennius pilicornis    Parablennius pilicornis
9        3.118098          Aglaophenia pluma          Aglaophenia pluma
29       2.883369     Reptadeonella violacea     Reptadeonella violacea
57       3.118098  Parablennius tentacularis  Parablennius tentacularis
82       3.116071  Parablennius tentacularis  Parablennius tentacularis
...           ...                        ...                        ...
152713   2.029225                     Conger              Conger conger
152715   2.452156           Red-mouthed goby          Gobius cruentatus
152717   2.452156     Reptadeonella violacea     Reptadeonella violacea
152782   3.140911  Aglaophenia kirchenpaueri  Aglaophenia kirchenpaueri
152792   3.140911            Serrano-alecrim          Serranus cabrilla

                  common_name iconic_taxon_name  taxon_id  \
6                        Moma    Actinopterygii     35250
9                         NaN          Cnidaria    243186
29                        NaN           Bryozoa    245658
57          Babosa de cuernos    Actinopterygii    252756
82          Babosa de cuernos    Actinopterygii    252756
...                       ...               ...       ...
152713                Congrio    Actinopterygii     31017
152715  Gobio de Boca Carmesí    Actinopterygii     35027
152717                    NaN           Bryozoa    245658
152782                    NaN          Cnidaria    243184
152792               Cabrilla    Actinopterygii     13755

                     matched_fish
6         Parablennius pilicornis
9                     Aglaophenia
29         Reptadeonella violacea
57      Parablennius tentacularis
82      Parablennius tentacularis
...                           ...
152713              Conger conger
152715          Gobius cruentatus
152717     Reptadeonella violacea
152782                Aglaophenia
152792          Serranus cabrilla

[11353 rows x 17 columns]

In [5]:
fish_df

,quality_grade,license,url,image_url,tag_list,description,num_identification_agreements,num_identification_disagreements,place_guess,latitude,longitude,species_guess,scientific_name,common_name,iconic_taxon_name,taxon_id,matched_fish
6,research,CC-BY-NC,https://minka-sdg.org/observations/371,https://minka-sdg.org/attachments/local_photos...,NaN,NaN,1,0,Spain,41.970737,3.227241,Parablennius pilicornis,Parablennius pilicornis,Moma,Actinopterygii,35250,Parablennius pilicornis
9,research,CC-BY-NC,https://minka-sdg.org/observations/376,https://minka-sdg.org/attachments/local_photos...,NaN,NaN,1,0,Spain,41.846316,3.118098,Aglaophenia pluma,Aglaophenia pluma,NaN,Cnidaria,243186,Aglaophenia
29,research,CC-BY-NC,https://minka-sdg.org/observations/433,https://minka-sdg.org/attachments/local_photos...,NaN,NaN,1,0,NaN,41.703166,2.883369,Reptadeonella violacea,Reptadeonella violacea,NaN,Bryozoa,245658,Reptadeonella violacea
57,research,CC-BY-NC,https://minka-sdg.org/observations/507,https://minka-sdg.org/attachments/local_photos...,NaN,NaN,1,0,Spain,41.846316,3.118098,Parablennius tentacularis,Parablennius tentacularis,Babosa de cuernos,Actinopterygii,252756,Parablennius tentacularis
82,research,CC-BY-NC,https://minka-sdg.org/observations/549,https://minka-sdg.org/attachments/local_photos...,NaN,NaN,1,0,Spain,41.847420,3.116071,Parablennius tentacularis,Parablennius tentacularis,Babosa de cuernos,Actinopterygii,252756,Parablennius tentacularis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152713,research,CC-BY,https://minka-sdg.org/observations/428031,https://minka-sdg.org/attachments/local_photos...,NaN,NaN,1,0,"Barcelona, España",41.267453,2.029225,Conger,Conger conger,Congrio,Actinopterygii,31017,Conger conger
152715,research,CC-BY-NC,https://minka-sdg.org/observations/428105,https://minka-sdg.org/attachments/local_photos...,NaN,NaN,1,0,El Turo Negre - Mataró,41.520687,2.452156,Red-mouthed goby,Gobius cruentatus,Gobio de Boca Carmesí,Actinopterygii,35027,Gobius cruentatus
152717,research,CC-BY-NC,https://minka-sdg.org/observations/428114,https://minka-sdg.org/attachments/local_photos...,NaN,NaN,1,0,El Turo Negre - Mataró,41.520687,2.452156,Reptadeonella violacea,Reptadeonella violacea,NaN,Bryozoa,245658,Reptadeonella violacea
152782,research,CC-BY-NC,https://minka-sdg.org/observations/428593,https://minka-sdg.org/attachments/local_photos...,NaN,NaN,1,0,Boreas,41.843202,3.140911,Aglaophenia kirchenpaueri,Aglaophenia kirchenpaueri,NaN,Cnidaria,243184,Aglaophenia
152792,research,CC-BY-NC,https://minka-sdg.org/observations/428604,https://minka-sdg.org/attachments/local_photos...,NaN,NaN,1,0,Boreas,41.843202,3.140911,Serrano-alecrim,Serranus cabrilla,Cabrilla,Actinopterygii,13755,Serranus cabrilla

In [6]:
# Find all unique fish names in the filtered dataframe
unique_fish = set()

# Show unique fish names
for _, row in fish_df.iterrows():
    for col in valid_columns:
        if pd.notna(row[col]):
            value = str(row[col]).lower()
            for fish in fishes_list:
                fish_lower = fish.lower()
                if (
                    fish_lower in value
                    or fish_lower.replace(" ", "_") in value
                    or fish_lower.replace("_", " ") in value
                ):
                    unique_fish.add(fish)

# Display unique fish names found in the filtered dataframe
print("\nUnique fish names found in the filtered dataframe:")
for fish in sorted(unique_fish):
    print(fish)

Unique fish names found in the filtered dataframe:
Aglaophenia
Conger conger
Eudendrium
Gobius cruentatus
Parablennius gattorugine
Parablennius pilicornis
Parablennius tentacularis
Reptadeonella violacea
Schizobrachiella sanguinea
Serranus cabrilla

In [8]:
# Count occurrences of each unique fish name
unique_fish_counts = {fish: 0 for fish in unique_fish}

for _, row in fish_df.iterrows():
    for col in valid_columns:
        if pd.notna(row[col]):
            value = str(row[col]).lower()
            for fish in unique_fish:
                fish_lower = fish.lower()
                if (
                    fish_lower in value
                    or fish_lower.replace(" ", "_") in value
                    or fish_lower.replace("_", " ") in value
                ):
                    unique_fish_counts[fish] += 1

# Display counts of unique fish names
print("\nCounts of unique fish names found in the filtered dataframe:")

# sort
unique_fish_counts = dict(sorted(unique_fish_counts.items(), key=lambda x: x[1], reverse=True))

for fish, count in unique_fish_counts.items():
    print(f"{fish}: {count} observations")

Counts of unique fish names found in the filtered dataframe:
Parablennius pilicornis: 6122 observations
Serranus cabrilla: 3122 observations
Parablennius gattorugine: 1903 observations
Gobius cruentatus: 1238 observations
Aglaophenia: 942 observations
Eudendrium: 776 observations
Schizobrachiella sanguinea: 584 observations
Conger conger: 405 observations
Parablennius tentacularis: 342 observations
Reptadeonella violacea: 274 observations